body{
    font-family: 'Fondamento', cursive;
    margin: 0;
    width: 100%;
}

.main{
    background-image: url('images/tattoo.jpg');
    background-size: 100% auto;
    width: 100%;
    z-index: 1;
}

.logo{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.logo img{
    height: 350px;
    line-height: 350px;
    margin-top: -30px;
}

.clear{
    clear: both;
}

#navegacao{
    float: right;
    z-index: 2;
}

.lista-navegacao{
    display: inline-flex;
    list-style-type: none;
    margin-right: 30px;
    z-index: 3;
}

.lista-navegacao li a{
    font-size: 28px;
    color: #FFEEC2;
    padding: 5px;
    text-decoration: none;
    z-index: 4;
}

.lista-navegacao li a:hover{
    font-size: 30px;
    cursor: pointer;
    color: #E65100;
}

.nav-who-we-are{

}
.nav-tattoo-artist{
    margin-left: 20px;
}
.nav-tattoos{
    margin-left: 20px;
}
.nav-contato{
    margin-left: 20px;
}

#purpose{
    margin: 0;
    clear: both;
}

#purpose .tattoo-finder{
    margin: 0;
    color: #E65100;
    height: 450px;
    line-height: 750px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
}

#purpose .plataforma{
    margin: 0;
    color: #FFEEC2;
    height: 150px;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#who-we-are{
    padding-top: 50px;
    background-color: #E65100;
}

#who-we-are .who-we-are{
    color: #000;
    height: 150px;
    line-height: 100px;
    text-align: center;
    font-size: 72px;
}

.passos{
    display: flex;
}

.passos div{
    width: 400px;
    background-color: white;
}

.passos .passo1{
    border-right: 1px solid lightgray;
}

.passos .passo2{
    border-right: 1px solid lightgray;
}

.passos .passo3{
    border-right: 1px solid lightgray;
}

.passos .passo4{

}

.passos div .passo{
    margin: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
}

.passos div img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 50px;
    width: 100px;
}

.passos div .texto{
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 14px;
    width: 80%;
    padding-left: 10%;
}

.title{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 52px;
}

#tattoo-artist{
    margin: 0;
    color: #E65100;
    width: 100%;
    background-color: #000;
}

#tattoo-artist .simule{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 48px;
    color: #FFEEC2;
}

#tattoo-artist .form-tatuador{
    display: flex;
    padding-bottom: 100px;
}

#tattoo-artist .plano{
    margin: 10px 50px 0 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 42px;
    background-color: #E65100;
    color: #000;
    width: 3500px;
    border-radius: 15px;
}

#tattoo-artist ul{
    margin: 0;
    margin-top: 20px;
}

#tattoo-artist ul li{
    color: #FFEEC2;
    display: flex;
    position: relative;
    width: 200px;
}

#tattoo-artist ul li input[type=radio]{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 22px;
    left: 20px;
}

#tattoo-artist ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 24px;
    padding: 10px 25px 50px 80px;
    margin: 10px auto 0 0;
    height: 30px;
    z-index: 9;
    left: -30px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

#tattoo-artist ul li:hover label{
	color: #000;
}

#tattoo-artist ul li input[type=radio]:checked ~ label{
    color: #AEEA00;
}

#tattoo-artist .portifolio{
    margin: 10px 50px 0 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 42px;
    background-color: #E65100;
    width: 3500px;
    color: #000;
    border-radius: 15px;
}

#tattoo-artist .portifolio label{
    display: block;
    margin-top: 20px;
    color: #FFEEC2;
    font-size: 24px;
}

#tattoo-artist .portifolio input{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 100px;
    text-align: center;
    margin: 50px auto 0 auto;
    font-size: 24px;
    border: 0;
    background-color: #000;
    color: white;
    border-radius: 5px;
}

#tattoo-artist .portifolio button{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 60px auto 0 auto;
    font-size: 20px;
    border: 0;
    background-color: white;
    border-radius: 15px;
    border: 2px outset;
}

#tattoo-artist .resultado{
    margin: 10px 50px 0 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 42px;
    background-color: #E65100;
    width: 3500px;
    color: #000;
    border-radius: 15px;
}

#tattoo-artist .resultado1{
    margin-top: 20px;
    font-size: 24px;
    color: #FFEEC2;
}

#tattoo-artist .resultado2{
    margin-top: 20px;
    font-size: 24px;
    color: #FFEEC2;
    display: none;
}

#tattoo-artist .active{
    display: block;
}

#tattoos{
    margin: 0;
    color: black;
    width: 100%;
    height: 650px;
    background-color: #E65100;
}

#tattoos .tattoos-ao-lado{
    width: 100%;
    font-size: 48px;
    color: #FFEEC2;
    text-align: right;
    margin-right: 100px;
}

#tattoos .banner{
    padding: 100px 50px 75px 50px;
    display: flex;
}

#tattoos .banner div{
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: none;
    margin: 0;
    border-radius: 10px;
}

#tattoos .banner div.slide1{
    background-color: lightblue;
    background-image: url('images/imagem1.jpg');
    background-size: 50%;
}
#tattoos .banner div.slide2{
    background-color: lightgreen;
    background-image: url('images/imagem2.jpg');
    background-size: 100%;
}
#tattoos .banner div.slide3{
    background-color: pink;
    background-image: url('images/imagem3.jpg');
    background-size: 110%;
    background-position: -19%;


}

#tattoos .banner div.tatuador1{
    max-width: 100px;
    height: 100px;
    background-color: darkblue;
    position: absolute;
    margin: 200px 0 0 400px;
    color: white;
    background-image: url('images/tatoo1.jpg');
    background-size: 100%;
}
#tattoos .banner div.tatuador2{
    max-width: 100px;
    height: 100px;
    background-color: darkgreen;
    position: absolute;
    margin: 200px 0 0 400px;
    color: white;
    background-image: url('images/tatoo2.jpg');
    background-size: 100%;
}
#tattoos .banner div.tatuador3{
    max-width: 100px;
    height: 100px;
    background-color: darkred;
    position: absolute;
    margin: 200px 0 0 400px;
    color: white;
    background-image: url('images/tatoo3.jpg');
    background-size: 150%;

}

#tattoos .banner div.active{
    display: block;
}

#contato{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000;
    color: #FFEEC2;
    font-size: 24px;
    margin: 0;
}

#contato .p-contato{
    margin: 0;
}

#contato .p-contato span{
    margin: 0;
    color: #E65100;
    font-style: italic;
}

@media (max-width: 800px) {

}
